*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.parent{
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    margin-left: 350px;
}



.child{
    position: absolute;
    top: 300px;
    left: 300px;
    margin-left: 300px;
}
 

button{
    background-color: #6c5ce7;
    border-radius: 50%;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 20px 25px;
    transition: 0.2s;
}
 .btn:hover{
    background-color: aliceblue;
    border: 3px solid #6c5ce7;
    color: #6c5ce7;
 }


h1{
    text-decoration: underline;
    width: fit-content;
    font-size: 25px;
    color:  black;
}

   

